In [1]:
import requests
from bs4 import BeautifulSoup
import csv
import pandas as pd
import numpy as np
import datetime

from os import listdir
from os.path import isfile, join


import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

##  -----------  Connect to Webpage and Create Soup  ------------  ##
url = "https://www.amazon.co.uk/Best-Sellers-Electronics-SIM-Free-Mobile-Phones-Smartphones/zgbs/electronics/356496011"
r = requests.get(url)
soup = BeautifulSoup(r.content)

Can be run after cell 1

In [2]:
#Get all review tiles
product_tiles = soup.find_all('div', class_ = 'a-section a-spacing-none aok-relative')

In [3]:
#How many reviews? - should be 50
len(product_tiles)

50

In [4]:
#Get the required elements
ranking_out = []
titles_out = []
rating_out = []
number_of_revs_out = []
prices_out = []

for product in product_tiles:
    #Get elements
    ranking = product.find("span", {"class": "zg-badge-text"}).text
    titles = product.find("div", {"aria-hidden": "true"}).text.strip()
    prices = product.find("span", {"class": "p13n-sc-price"}).text
    full_box = product.find("span", {"class": "aok-inline-block zg-item"}).text
    
    #Append elements
    ranking_out.append(ranking)
    titles_out.append(titles)
    prices_out.append(prices)
    
#     #Error handling
#     if ranking = None:
#         ranking_out.append('not_found')
#     else:
#         ranking_out.append(ranking)

In [5]:
titles_out[0]

'Nokia 105 Single SIM Mobile Phone (2017 Edition) - Black'

In [6]:
amzn_top50 = pd.DataFrame({"Ranking": ranking_out,
                          "Model": titles_out,
                          #"Rating": rating_out,
                          #"No_of_Reviews": number_of_revs_out,
                          "Price": prices_out})

#amzn_top50.to_csv("amazon_50.csv", index=False, encoding='utf-8')

amzn_top50.head()

  Ranking                                              Model    Price
0      #1  Nokia 105 Single SIM Mobile Phone (2017 Editio...   £13.99
1      #2  motorola moto g7 6.24-Inch Android 9.0 Pie UK ...  £199.99
2      #3  motorola moto g7 Power 6.2-Inch Android 9.0 Pi...  £179.00
3      #4  Samsung Smartphone Galaxy S8 64GB UK Version -...  £349.00
4      #5  Samsung Galaxy J6 2018 32 GB UK SIM-Free Smart...  £153.00

In [7]:
titles_out[0]

'Nokia 105 Single SIM Mobile Phone (2017 Edition) - Black'

In [8]:
#Do same above for the second page
url_2 = "https://www.amazon.co.uk/Best-Sellers-Electronics-SIM-Free-Mobile-Phones-Smartphones/zgbs/electronics/356496011/ref=zg_bs_pg_2?_encoding=UTF8&pg=2"
r_2 = requests.get(url_2)
soup_2 = BeautifulSoup(r_2.content)

In [9]:
#Get all review tiles
product_tiles = soup_2.find_all('div', class_ = 'a-section a-spacing-none aok-relative')

In [10]:
#Get the required elements
ranking_out_2 = []
titles_out_2 = []
rating_out_2 = []
number_of_revs_out_2 = []
prices_out_2 = []

for product in product_tiles:
    #Get elements
    ranking = product.find("span", {"class": "zg-badge-text"}).text
    titles = product.find("div", {"aria-hidden": "true"}).text.strip()
    prices = product.find("span", {"class": "p13n-sc-price"})
    full_box = product.find("span", {"class": "aok-inline-block zg-item"})
    
    #Append elements
    
    ranking_out_2.append(ranking)
    titles_out_2.append(titles)
    prices_out_2.append(prices)
    
#     #Error handling - Maybe handle the text extraction here when appending?
#     if ranking = None:
#         ranking_out.append('not_found')
#     else:
#         ranking_out.append(ranking)

In [11]:
amzn_top99 = pd.DataFrame({"Ranking": ranking_out_2,
                          "Model": titles_out_2,
                          #"Rating": rating_out,
                          #"No_of_Reviews": number_of_revs_out,
                          "Price": prices_out_2})

#amzn_top50.to_csv("amazon_50.csv", index=False, encoding='utf-8')

amzn_top99.head()

,Ranking,Model,Price
0,#51,Samsung Galaxy S7 Edge 32 GB SIM-Free Smartpho...,"<span class=""p13n-sc-price"">£287.50</span>"
1,#52,Doro 6520 ​Flip Mobile Phone for Elderly with ...,"<span class=""p13n-sc-price"">£48.42</span>"
2,#53,"CUBOT J3 Android Go Smartphone Unlocked, 5.0 i...","<span class=""p13n-sc-price"">£56.99</span>"
3,#54,Nokia 8110 4G (Single Sim) - Yellow,"<span class=""p13n-sc-price"">£35.99</span>"
4,#55,Apple iPhone 8 64GB Silver (Renewed),"<span class=""p13n-sc-price"">£354.04</span>"

In [14]:
final = pd.concat([amzn_top50, amzn_top99], sort=True)

final = final.reset_index(drop=True)

a1  = final['Model'].str.contains('Nokia')
a2  = final['Model'].str.contains('Huawei')
a3  = final['Model'].str.contains('motorola')
a4  = final['Model'].str.contains('Samsung')
a5  = final['Model'].str.contains('Alcatel')
a6  = final['Model'].str.contains('Apple')
a7  = final['Model'].str.contains('NUU')
a8  = final['Model'].str.contains('HONOR')
a9  = final['Model'].str.contains('Black View')
a10  = final['Model'].str.contains('Blackview')
a11  = final['Model'].str.contains('Xiaomi')
a12  = final['Model'].str.contains('Doro')
a13  = final['Model'].str.contains('Sony')
a14  = final['Model'].str.contains('DOOGEE')
a15  = final['Model'].str.contains('UMIDIGI')
a16  = final['Model'].str.contains('Honor')
a17  = final['Model'].str.contains('Motorola')
a18  = final['Model'].str.contains('CUBOT')
a19  = final['Model'].str.contains('OnePlus')
a20  = final['Model'].str.contains('Vodafone')
a21  = final['Model'].str.contains('Redmi')

final['Brand'] = np.select([a1,a2,a3,a4,a5,a6,a7,
                            a8,a9,a10,a11,a12,a13,a14,a15,a16,a17,a18,a19,a20,a21],
                                     ['Nokia', 'Huawei', 'Motorola', 'Samsung', 'Alcatel',
                                      'Apple', 'NUU', 'HONOR', 'Black View','Black View',
                                      'Xiaomi','Doro', 'Sony', 'DOOGEE', 'Umidigi', 'HONOR', 'Motorola',
                                     'Cubot','OnePlus','Vodafone','Redmi'],default=0)

In [15]:
import time
from datetime import date

filename1 = datetime.datetime.now().strftime("%d_%m_%Y") + ".csv"
filename1

'03_06_2019.csv'

In [16]:
final.to_csv(filename1, index=False, encoding='utf-8')

In [17]:
mypath = r'C:\\Users\\dimoikon\\Box Sync\\Amazon_top100\\'

onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]

all_f = [v for v in onlyfiles if v[-4:] == '.csv']

all_f

['03_06_2019.csv',
 '24_05_2019.csv',
 '25_05_2019.csv',
 '27_05_2019.csv',
 '29_05_2019.csv',
 '30_05_2019.csv',
 '31_05_2019.csv']

In [18]:
data_S = pd.DataFrame()

for f in all_f:
    
    data = (pd
                      .read_csv (mypath + f)
                      
                      .assign   (Date = f)                      
                  )
    
    data_S = data_S.append(data, ignore_index=True)
    
             
data_S["Date"] = data_S["Date"].str.strip(".csv").str.replace("_", "/")
data_S


final_2 = data_S.pivot_table(index=data_S['Brand'],
               columns='Date', aggfunc='size', fill_value=0)
final_2

Date,03/06/2019,24/05/2019,25/05/2019,27/05/2019,29/05/2019,30/05/2019,31/05/2019
Brand,,,,,,,
0,4,4,6,2,3,5,3
Alcatel,3,1,2,2,2,2,1
Apple,25,14,18,20,20,22,25
Black View,4,5,5,5,6,5,7
Cubot,1,5,4,6,3,2,3
DOOGEE,1,3,2,0,2,1,2
Doro,4,3,3,3,2,2,2
HONOR,3,6,3,2,3,4,5
Huawei,5,8,7,6,4,5,7
Motorola,7,6,6,6,6,7,8
NUU,1,1,1,1,1,1,1
Nokia,12,10,11,13,10,13,13
OnePlus,2,0,0,2,2,2,1
Redmi,1,0,0,1,1,2,1
Samsung,14,23,21,20,23,18,14
Sony,4,5,4,3,3,2,3
Umidigi,3,1,1,1,4,2,1
Vodafone,0,0,0,1,0,0,0
Xiaomi,6,5,6,6,5,5,3

In [19]:
import pygsheets
#authorization
gc = pygsheets.authorize(service_file = 
                         'C:\\Users\\dimoikon\\Box Sync\\GSK\\Amazon_Exports\\API\\doAPI.json'
                        )

#open the google spreadsheet (where 'PY to Gsheet Test' is the name of my sheet)
sh = gc.open('Amazon_Top_100_phones')

#select the first sheet 
wks = sh[0]
wks_2 = sh[1]

#update the first sheet with df, starting at cell B2. 
wks.set_dataframe(final, (1,1))
wks_2.set_dataframe(final_2, (21,2))

now = str(datetime.datetime.now())


wks.update_value('I2', now)